@use '../sass/variable/variable.scss';


body {
    background-color: variable.$primary !important;
}

@media print {
    h1 {
        font-size: 30px;
        color: yellow !important;
        background-color: coral !important;

        @at-root (without : media) {
        font-size: variable.$h2-font-size !important;
        
        background-color: variable.$secondary !important;
        }
    }
}

