
// ************** colors **************** //
$primary : #4A7199;
$secondary : #9b8950;

// ************** font size **************** //

$h2-font-size: 30px; 
$h1-font-size: 60px;

// ************* media query ************** //

@media screen and (max-width: 1200px) {
    
    
}